@inject IJSRuntime _JS
<article class="tile" @onclick="test">
    <div class="tile-icon full-reset"><MatIcon Icon="@icon" /></div>
    <div class="tile-name all-tittles">@nombre</div>
    <div class="tile-num full-reset">10</div>
</article>
@code {
    [Parameter]
    public string icon { get; set; }
    [Parameter]
    public string nombre { get; set; }
    public async Task test()
    {
      
    }
}
